# Configuração do Banco de Dados (Neon/PostgreSQL)
DATABASE_URL="postgresql://USUARIO:SENHA@host/neondb?sslmode=require"

# Configuração da API
PORT=3000
NODE_ENV="development"

# Segurança (JWT)
JWT_SECRET="SUA_CHAVE_SUPER_SECRETA_AQUI"
JWT_EXPIRES_IN="7d"

# Configuração IoT (Arduino/ESP32)
IOT_API_KEY="SUA_API_KEY_PARA_O_ARDUINO"
